---
import '../../static/global.css'
import '@fontsource-variable/inter'
import Layout from '../layouts/Layout.astro'
import Navbar from '../layouts/Navbar.astro'
import Presentation from '../layouts/Presentation.astro'
import Projects from '../layouts/Projects.astro'
---

<Layout title="my page">
  <Navbar />
  
  <Presentation />
  
  <div class="w-full sm:w-[90%] md:w-[80%] m-auto px-3 flex flex-col gap-10 mt-10 md:mt-0 md:gap-36">
    <Projects />
  </div>
  
</Layout>
