---
import '../../static/global.css'
import Layout from '../layouts/Layout.astro'
import Navbar from '../layouts/Navbar.astro'
import Presentation from '../layouts/Presentation.astro'
---

<Layout title="my page">
  <section class="bg-zinc-200 dark:bg-slate-800 h-[1200px]">
    <Navbar />
    <Presentation />
  </section>

  <!-- Mis trabajos -->
  <section>
    
  </section>
</Layout>
