---
import ThemeMode from './ThemeMode.jsx'
 
const navs = [ 
  {
    text: 'Sobre mi',
    link: '#about'
  }, 
  {
    text: 'Proyectos',
    link: '#projects'
  }, 
  {
    text: 'Habilidades',
    link: '#skills'
  }]
---

<nav id="mynavbar" class="w-full h-20 fixed top-0 bg-zinc-50 dark:bg-slate-800 dark:[&.is-sticky]:bg-slate-800/70 [&.is-sticky]:bg-zinc-200/70 border-b border-zinc-300 dark:border-slate-700 z-50 px-3 md:px-6 flex justify-between items-center flex-wrap">
  
  <div class="flex-grow basis-0 hidden md:block font-bold text-xl text-slate-800 dark:text-zinc-100">
    ER
  </div>
  <ul class="h-full flex flex-row justify-center items-center md:gap-3 text-slate-800 dark:text-slate-200">
    {
      navs.map((nav) => 
        <a href={nav.link}><li class="hover:bg-slate-600 hover:text-slate-200 py-1.5 px-1.5 md:py-2 md:px-3 rounded transition-colors duration-300 text-sm md:text-base">
          {nav.text}
        </li></a>
      )
    }
  </ul>

  <div class="flex-grow basis-0 flex justify-end items-center">
    <ThemeMode client:only/>
  </div>
</nav>

<script>
  // Sticky navbar
  const navbar = document.getElementById('mynavbar')
  const height = navbar.clientHeight
  window.addEventListener('scroll', () => {
    window.scrollY >= height 
    ? navbar.classList.add('is-sticky') 
    : navbar.classList.remove('is-sticky')
  })
</script>

<style>
  #mynavbar.is-sticky {
    border: none;
    backdrop-filter: blur(5px) saturate(4.5);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.4);
    transition: all 200ms ease-in-out;
  }
</style>
