---
import ThemeMode from './ThemeMode.jsx'
import FolderIcon from './svgs/FolderIcon.astro'

const navs = [ 
  {
    icon: FolderIcon,
    text: 'Sobre mi',
    link: '#about'
  },
  {
    icon: FolderIcon,
    text: 'Experiencia',
    link: '#experience'
  },
  {
    icon: FolderIcon,
    text: 'Proyectos',
    link: '#projects'
  }, 
  {
    icon: FolderIcon,
    text: 'Habilidades',
    link: '#skills'
  }
]
---

<nav id="mynavbar" class="w-fit h-16 fixed top-10 bg-zinc-100/50 dark:bg-slate-800/50 rounded-xl border border-white dark:border-slate-700 z-50 px-3 md:px-6 flex justify-between items-center flex-wrap shadow-lg backdrop-blur-sm">
  
  <ul class="h-full flex flex-row justify-center items-center md:gap-3 text-slate-800 dark:text-slate-200">
    {
      navs.map((nav) => 
        <a href={nav.link}><li class="w-9 h-9 bg-gray-200 dark:bg-slate-900 rounded-full transition-all duration-150 grid place-content-center border border-gray-100 dark:border-slate-600 hover:border-white dark:hover:border-slate-700 hover:scale-125">
          {/* {nav.text} */}
          { nav.icon ? <nav.icon width="20" height="20" /> : nav.text}
        </li></a>
      )
    }
    <ThemeMode client:only/>
  </ul>
</nav>
