---
import SkillCard from '@/components/SkillCard.astro'
import { skills } from '@/constants/skills'
---

<section id="skills" class="w-full flex flex-col gap-8">
  <h1 class="text-zinc-700 dark:text-zinc-100 text-2xl sm:text-3xl md:text-4xl font-bold">
    Habilidades
  </h1>

  <div class="skills">
    { 
      skills.map(skill => (
        <SkillCard path={skill.path} alt={skill.alt}>{skill.name}</SkillCard>
      ))
    }

  </div>
</section>

<style>
  .skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 1rem;
  }
</style>