---
import SkillCard from '@/components/SkillCard.astro'
import HeadingTitle from '@/components/HeadingTitle.astro'
import { skills } from '@/constants/skills'
---

<section>
  <div class="bg-slate-100 w-full flex flex-col gap-3 p-4 border border-white rounded-lg outline outline-1 outline-gray-200 dark:bg-transparent dark:border-gray-700 dark:outline-none">
    <HeadingTitle title="Stack" />
    <div class="skills">
      { 
        skills.map(skill => (
          <SkillCard path={skill.path} alt={skill.alt}>{skill.name}</SkillCard>
        ))
      }
    </div>
  </div>
</section>

<style>
  .skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 1rem;
  }
</style>