---
import Card from '../components/Card.astro'
---
<section id="projects" class="w-full flex flex-col gap-8">
  <h1 class="text-zinc-700 dark:text-zinc-100 text-2xl sm:text-3xl md:text-4xl font-bold">
    Proyectos
  </h1>
  <div class="projects w-full justify-center md:justify-start">
    <Card 
      link="https://juegodelavida.netlify.app"
      title="Juego de la Vida (Conway)" 
      tools={['JAVASCRIPT', 'CSS', 'HTML']}
      description="El Juego de la Vida de Conway, un autómata celular con simulación interactiva que muestra como simples reglas pueden crear patrones complejos."
      repo="https://www.github.com/elwinroman/game-of-life"
      src="preview-game-of-life.webp"
    />
  </div>
</section>

<style>
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 320px));
    gap: 1.5rem;
  }
</style>